header{
    margin:20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

.row{
    width:100%;
    /* border:1px solid; */
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.container{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    /* border:1px solid; */
    width:100%;

}

img{
    width:350px;
    margin-left:50px;
    margin-right:50px;

}

.book{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}
.book:hover .imgtitle{
    display:block;
   
}
 
.imgtitle{
    width:200px;
    display:none;
}
/* .imgtitle:hover{
    width:200px;
    display:block;
} */


img:hover{
    transform: scale(1.1);
    
}

/* carousel stuff */
.carousel-control.left, .carousel-control.right {
    background-image:none !important;
    filter:none !important;
 }
#myCarousel{
    width:80%;
    margin:auto;
}
.imgcarousel{
    width:800px;
    margin:auto;
}

.aboutbar{
    display:flex;
    flex-direction: row;
    justify-content: space-between;

}
.aboutimg img{
    width:100px;
    align-self: flex-end;
}